@model IEnumerable<ModaKitap.Model.Core.Entity.Siparis>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Durum.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAdres.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToplamTutar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToplamKDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.İndirimToplamı)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toplam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OlusumTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OlusturanKullanıcıID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuncellemeTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuncelleyennKullanıcıID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Durum.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAdres.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToplamTutar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToplamKDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.İndirimToplamı)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toplam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OlusumTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OlusturanKullanıcıID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuncellemeTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuncelleyennKullanıcıID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
