@model ModaKitap.Model.Core.Entity.Siparis

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Siparis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Durum.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durum.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAdres.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAdres.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToplamTutar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToplamTutar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToplamKDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToplamKDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.İndirimToplamı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İndirimToplamı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toplam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toplam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlusumTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusumTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlusturanKullanıcıID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusturanKullanıcıID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuncellemeTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuncellemeTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuncelleyennKullanıcıID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuncelleyennKullanıcıID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
